@media only screen and (max-width: 767px) {
    .header_body .header_column1 {
        display: none;
    }
    .header_body .header_column2 {
        width: 100%;
    }
    span {
width: 200px;
    }
    .container {
        margin: 0 auto;
    max-width: 390px;
    }
    p{
    margin: 40px 0px 0px 0px;
    font-size: 20px;
}
h6{
font-size: 13px;
margin: 30px 0px 0px 0px;
}

.container .section1_body{
   margin: 50px 0px 0px 0px;
   width: 350px;
   height: 300px;
}
h5{
    font-size: 10px;
margin: 30px 0px 0px 0px;
}
}






@media only screen and (min-width: 1024px) {
   
    .container {
        margin: 0 auto;
    max-width: 1000px;
    }

}