* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: antiquewhite;
   
}


header{
    width: 100%;
    height: 100px;
    background-color: rgb(29, 29, 29);
}


.container {

    margin: 0 auto;
    max-width: 1440px;

}

h1{
margin: 200px 0px 0px 0px;
text-align: center;
}

p {
    margin: 50px 0px 0px 0px;
   font-size: 19px;
   text-align: center;
   
}




img {
    height: 100px;
    width: 100px;
    margin: 0px 20px 0px 0px;
}
.container .header_body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_body .header_column1{
    display: flex;
}

.header_body .header_column2{
    display: flex;
    align-items: center;
}

span {
    font-size: 18px;
}
